div.right {
	float: right;
	z-index: -100;
}

div#across {
	float: left;
	width: 40%;
}

div#down {
	float: right;
	width: 40%;
}

div#buttons {
	width: 100%;
}

div#crossword {
	z-index: 0;
	background-color: black;
	position: absolute;
	border-right: 1px solid;
	border-bottom: 1px solid;
}

div#active-clue {
	font-size: 1.2em;
}

div.word {
	position: absolute;
}

div.darken {
	font-weight: bold;
}

div#information {
	position: absolute;
	z-index: -10;
	float: right;
	padding-left: 29px;
}

div#clues {
	clear: both;
	position:relative;
}

div {
	background-color: white;
	font-family: arial;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

input {
	position: absolute;
	width: 28px;
	height: 28px;
	border: 1px solid;
	text-align: center;
	margin: 0;
	padding: 0;
}

input.highlight {
	position: absolute;
	background-color: orange;
	z-index: 100;
}

input.end-across {
	width: 27px;
}

input.end-down {
	height: 27px;
}


span {
	z-index: 3000;
	position: absolute;
	font-family: arial;
	font-size: 0.5em;
	padding-left: 2px;
}
