div#padding {
	position: relative;
	left: 1px;
}

p.small {
	font-size: 0.6em;
}

div.right {
	position: relative;
	float:right;
	z-index: 100;
}

div#across {
	float: left;
	width: 45%;
}

div#down {
	float: right;
	width: 45%;
}

div#buttons {
	width: 100%;
}

div#crossword {
	z-index: 0;
	background-color: black;
	position: absolute;
	border-right: 1px solid;
	border-bottom: 1px solid;
}

div#active-clue {
	font-size: 1.2em;
}

div.hyphen-across {
	position: absolute;
	top: 13px;
	background-color: black;
	z-index: 100;
	height: 3px;
	width: 10px;
}

div.hyphen-down {
	position: absolute;
	left: 13px;
	background-color: black;
	z-index: 100;
	height: 10px;
	width: 3px;
}

div.word {
	position: absolute;
	background-color: black;
}

div.darken {
	font-weight: bold;
}

div#information {
	position: absolute;
	z-index: -10;
	float: right;
	padding-left: 29px;
}

div#clues {
	clear: both;
	position:relative;
}

div {
	background-color: white;
	font-family: arial;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

input {
	position: absolute;
	width: 28px;
	height: 28px;
	border: 1px solid;
	text-align: center;
	margin: 0;
	padding: 0;
}

input.highlight {
	position: absolute;
	background-color: orange;
	z-index: 100;
}

input.end-across {
	width: 26px;
}

input.end-down {
	height: 26px;
}


span {
	z-index: 3000;
	position: absolute;
	font-family: arial;
	font-size: 0.5em;
	padding-left: 2px;
}
